<?xml version="1.0"?>
<config>
    <modules>
        <Unloq_Login>
            <version>0.1.1</version>
        </Unloq_Login>
    </modules>
    <global>
        <models>
            <login>
                <class>Unloq_Login_Model</class>
            </login>
        </models>
        <helpers>
            <login>
                <class>Unloq_Login_Helper</class>
            </login>
        </helpers>
        <blocks>
            <login>
                <class>Unloq_Login_Block</class>
            </login>
        </blocks>
        <resources>
            <unloqlogin_setup>
                <setup>
                    <module>Unloq_Login</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </unloqlogin_setup>
            <unloqlogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </unloqlogin_write>
            <unloqlogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </unloqlogin_read>
        </resources>
        <events>
            <admin_system_config_changed_section_unloq_login>
                <observers>
                    <login>
                        <type>singleton</type>
                        <class>login/observer</class>
                        <method>handle_optionsChanged</method>
                    </login>
                </observers>
            </admin_system_config_changed_section_unloq_login>
        </events>
    </global>
	<frontend>
		<routers>
			<setup>
				<use>standard</use>
				<args>
					<module>Unloq_Login</module>
					<frontName>unloq</frontName>
				</args>
			</setup>
		</routers>
		<layout>
			<updates>
				<unloqlogin>
					<file>unloq.xml</file>
				</unloqlogin>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<unloqlogin>
					<file>unloq.xml</file>
				</unloqlogin>
			</updates>
		</layout>
	</adminhtml>
</config>