<?xml version="1.0"?>
<config>
	<frontend>
		<routers>
			<setup>
				<use>standard</use>
				<args>
					<module>Unloq_Login</module>
					<frontName>unloq</frontName>
				</args>
			</setup>
		</routers>
		<layout>
			<updates>
				<unloqlogin>
					<file>unloq.xml</file>
				</unloqlogin>
			</updates>
		</layout>
	</frontend>
	<modules>
		<Unloq_Login>
			<version>0.1.0</version>
		</Unloq_Login>
	</modules>
	<global>
		<resources>
			<unloqlogin_setup>
				<setup>
					<module>Unloq_Login</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</unloqlogin_setup>
			<unloqlogin_write>
				<connection>
					<use>core_write</use>
				</connection>
			</unloqlogin_write>
			<unloqlogin_read>
				<connection>
					<use>core_read</use>
				</connection>
			</unloqlogin_read>
		</resources>
		<helpers>
			<login>
				<class>Unloq_Login_Helper</class>
			</login>
		</helpers>
		<models>
			<login>
				<class>Unloq_Login_Model</class>
			</login>
		</models>
		<events>
			<admin_system_config_changed_section_unloq_login>
				<observers>
					<login>
						<type>singleton</type>
						<class>login/observer</class>
						<method>handle_optionsChanged</method>
					</login>
				</observers>
			</admin_system_config_changed_section_unloq_login>
		</events>
		<blocks>
			<login>
				<class>Unloq_Login_Block</class>
			</login>
		</blocks>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<unloq_login>
											<title>UNLOQ.io Authentication settings</title>
										</unloq_login>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>